<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge Hero</title>

    <link rel="stylesheet" href="/css/nav-bar.css">


    <link rel="stylesheet" href="/css/fridge/fridge.css"> 
    <!-- scripts -->
    <script src="js/homepage/select-category.js"></script>
    <script src="/js/navbar.js"></script>

</head>
    <body>
        <div class= "container">
            <div class="navbar-container">
                <nav class="nav-bar">
                    <div class="logo-container">
                        <p class="logo">fridgehero.</p>
                        <p class="logo-text">fridgehero.</p>
                    </div>
                    <ul class="nav-links">
                        <li class="link1"><a href="/">Home</a></li>
                        <li class="link2"><a href="order/fruits">Products</a></li>
                        <li class="link3"><a href="#">Super Chef</a></li>
                        <li class="link4"><img class="cart" src="assets/whitecart.png"></li>
                        <li class="link5"><img class="fridge" src="assets/whitefridge.png"></li>
                        <li></li>
                    </ul>
                </nav>
            </div>    

            
            <div class="body-container">
                <div class= "kaartehan-container">
                    <h3 class = "kaartehan-title"> keep it fresh! </h3>
                    </p>
                </div>
                
                <div class="fridge-container">
                    <div class="item1">
                        <img src="/assets/egg.png" alt="">
                        <h3>You have <span> X </span>egg/s.</h3>
                        <p> <span> x </span> days left!</p>
                    </div>

                    <div class="item2">
                        <img src="/assets/steak.png" alt="">
                        <h3>You have <span> X </span>steak/s.</h3>
                        <p> <span> x </span> days left!</p>
                    </div>

                    <div class="item3">
                        <img src="/assets/banana.png" alt="">
                        <h3>You have <span> X </span>banana/s.</h3>
                        <p> <span> x </span> days left!</p>
                    </div>

                    <div class="item4">
                        <img src="/assets/bellpepper.png" alt="">
                        <h3>You have <span> X </span>bellpepper/s.</h3>
                        <p> <span> x </span> days left!</p>
                    </div>
                </div>    
                        
            </div>    
            <!-- END OF BODY CONTAINER -->
        </div>
</body>
</html>