<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge Hero</title>

    <link rel="stylesheet" href="/css/nav-bar.css">


    <link rel="stylesheet" href="/css/fridge/fridge_item.css"> 
    <!-- scripts -->
    <script src="js/homepage/select-category.js"></script>
    <script src="/js/navbar.js"></script>

    <script defer src="/js/fridge/fridge.js"></script>

    <script src="/js/fridge/qr_code.js"></script>

</head>
    <body>
        <div class= "container">
            <div class="navbar-container">
                <nav class="nav-bar">
                    <div class="logo-container">
                        <p class="logo">fridgehero.</p>
                        <p class="logo-text">fridgehero.</p>
                    </div>
                    <ul class="nav-links">
                        <li class="link1"><a href="/">Home</a></li>
                        <li class="link2"><a href="order/fruits">Products</a></li>
                        <li class="link3"><a href="#">Super Chef</a></li>
                        <li class="link4"><img class="cart" src="assets/whitecart.png"></li>
                        <li class="link5"><img class="fridge" src="assets/whitefridge.png"></li>
                        <li></li>
                    </ul>
                </nav>
            </div>    

            
            <div class="body-container">
                <div class="kaartehan-container">
                    <h3 class="kaartehan-title"> keep it fresh! </h3>
                    <img src="" alt="scan me" class="qr" id="qr_code">
                    <p>Item: <span id="item"> <%= item.item %> </span></p>
                    <p>Quantity: <span class="quantity" id="quantity"> <%= item.quantity %> </span></p>
                    <p>Perishable Days: <%= item.perishabledays %></p>
                    <p>Perished: <%= item.perished %></p>
                </div>
            </div>      
            <!-- END OF BODY CONTAINER -->
        </div>
</body>
</html>