<div class="navbar-container">
    <nav class="nav-bar">
        <div class="logo-container">
            <p class="logo">fridgehero.</p>
            <p class="logo-text">fridgehero.</p>
        </div>
        <ul class="nav-links">
            <li class="link1"><a href="/">Home</a></li>
            <li class="link2"><a href="/order/fruit">Products</a></li>
            <li class="link3"><a href="/superchef">Super Chef</a></li>
            <li class="link4"><img class="cart" src="/assets/whitecart.png" id="cart"></li>
            <li class="link5"><img class="fridge" src="/assets/whitefridge.png" id="fridge"></li>
            <li></li>
        </ul>
    </nav>
</div> 