
<nav class="nav-bar">
    <div class="logo-container">
        <p class="logo">fridgehero.</p>
        <p class="logo-text">fridgehero.</p>
    </div>
    <ul class="nav-links">
        <li class="link1"><a href="#">Home</a></li>
        <li class="link2"><a href="#">Products</a></li>
        <li class="link3"><a href="#">Meal Plans</a></li>
        <li class="link4"><img class="cart" src="assets/bluecart.png"></li>
        <li class="link5"><img class="fridge" src="assets/bluefridge.png"></li>
        <li></li>
    </ul>
</nav>
