<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/category/choose-category.css"> 
    <!-- scripts -->
    <script src="/js/category/dairy.js"></script>

</head>
    <body>
        <div class= "container">              
            <%-include('partials/nav-bar.ejs')%>

            <!-- end of navbar -->
            <div class ="products-container" id="steak">
                <div class="product1" id="steak">
                    <img src="/assets/egg.png">
                    <h4> egg. </h4>
                    <p>Price: <span>10 PHP</span> </p>


                </div>

                <div class="product2" id="shrimp">
                    <img src="/assets/cheese.png">
                    <h4> cheese. </h4>
                    <p>Price: <span>150 PHP</span> </p>

                </div>

                <div class = "product3" id="chicken">
                    <img src="/assets/butter.png">
                    <h4> butter. </h4>
                    <p>Price: <span>180 PHP</span> </p>

                </div>




            </div>
        </div>
</body>
</html>