<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/category/choose-category.css"> 
    <!-- scripts -->
    <script src="/js/category/vegetable.js"></script>

</head>
    <body>
        <div class= "container">              
            <%-include('partials/nav-bar.ejs')%>

            <!-- end of navbar -->
            <div class ="products-container" >
                <div class="product1" id="bellpepper">
                    <img src="/assets/bellpepper.png">
                    <h4> bellpepper. </h4>
                    <p>Price: <span>150 PHP</span> </p>


                </div>

                <div class="product2" id="onion">
                    <img src="/assets/onion.png">
                    <h4> onion. </h4>
                    <p>Price: <span>150 PHP</span> </p>

                </div>

                <div class = "product3" id="eggplant">
                    <img src="/assets/eggplant.png">
                    <h4> eggplant. </h4>
                    <p>Price: <span>150 PHP</span> </p>

                </div>




            </div>
        </div>
</body>
</html>