<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/category/choose-category.css"> 
    <!-- scripts -->
    <script src="/js/category/fruit.js"></script>

</head>
    <body>
        <div class= "container">              
            <%-include('partials/nav-bar.ejs')%>

            <!-- end of navbar -->
            <div class ="products-container" id="banana">
                <div class="product1" id="steak">
                    <img src="/assets/banana.png">
                    <h4> banana. </h4>
                    <p>Price: <span>30 PHP</span> </p>


                </div>

                <div class="product2" id="apple">
                    <img src="/assets/apple.png">
                    <h4> apple. </h4>
                    <p>Price: <span>50 PHP</span> </p>

                </div>

                <div class = "product3" id="orange">
                    <img src="/assets/orange.png">
                    <h4> orange. </h4>
                    <p>Price: <span>30 PHP</span> </p>

                </div>




            </div>
        </div>
</body>
</html>