<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/category/choose-meat.css"> 
    <!-- scripts -->
    <script src="/js/category/meat.js"></script>

</head>
    <body>
        <div class= "container">              
            <%-include('partials/nav-bar.ejs')%>

            <!-- end of navbar -->
            <div class ="products-container" id="steak">
                <div class="steak" id="steak">
                    <img src="/assets/steak.png">
                    <h4> steak. </h4>
                    <p>Price: 500 PHP </p>


                </div>

                <div class="shrimp" id="shrimp">
                    <img src="/assets/shrimp.png">
                    <h4> shrimp. </h4>
                    <p>Price: 500 PHP </p>

                </div>

                <div class = "chicken" id="chicken">
                    <img src="/assets/chicken.png">
                    <h4> chicken. </h4>
                    <p>Price: 500 PHP</p>

                </div>




            </div>
        </div>
</body>
</html>