
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* cursive font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

 /*logo font  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* logo-text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

body{
    background-image: url('../../assets/background-pic.svg');
    background-repeat: no-repeat; 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-size: 100% ; /* Cover the entire viewport */
    
}



.logo{
    color:white;
}



.products-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left:40px;
    position: relative;
    margin:50px;
  }

  .product1, .product2, .product3 {

    flex: 1; /* Equal width for each item */
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.78); /* More transparent background */
    width: 300px;
    height: 540px;
    margin-right: 20px; /* Add some space between items */
    align-content: center;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack image and content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  
  }

  
img{
    width: 300px;
    height:290px;
    align-self: center;
}


h4{
    color: #2B4447;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: -5px;
}

p{
    color: darkslategray;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
