<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/cart/cart.css"> 
    <!-- scripts -->
    <script src="js/homepage/select-category.js"></script>

</head>
    <body>
        <div class= "container">
            
            <%-include('partials/nav-bar.ejs')%>
                <div class="body-parents">
                    <div class= "kaartehan-container">
                       <h3 class = "kaartehan-title"> Your Cart! </h3>
                        </p>
                    </div>
                    <div class="cartbutton-container">
                    <div class="cart-container" >
                        <div class="product1" id="onion">
                            <img src="assets/onion.png" class= "product1-pic" alt="meat">
                            <h4> onion</h4> 
                            <p>price: <span> 10 PHP</span></p>
                            <p>quantity: <span> 2</span></p>
                        </div>
                        <div class="product2" id="steak">
                            <img src="assets/steak.png" class= "product2-pic" alt="meat">
                            <h4> steak</h4> 
                            <p>price: <span> 300 PHP</span></p>
                            <p>quantity: <span> 2</span></p>
                        </div>
                        <div class="product3" id="banana">
                            <img src="assets/banana.png" class= "product3-pic" alt="meat">
                            <h4> banana</h4> 
                            <p>price: <span> 20 PHP</span></p>
                            <p>quantity: <span> 2</span></p>
                        </div>
                        <div class="product4" id="egg">
                            <img src="assets/egg.png" class= "product4-pic" alt="meat">
                            <h4> egg</h4>
                            <p>price: <span> 10 PHP</span></p>
                            <p>quantity: <span> 2</span></p>
                        </div>
                    </div>    
                    <button>checkout</button>
                    </div>

                        
                </div>    
        </div>
</body>
</html>