<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/cart/cart.css"> 
    <!-- scripts -->
    <script src="js/homepage/select-category.js"></script>
    <script src="js/cart/cart.js"></script>

</head>
    <body>
        <div class= "container">
            
            <%-include('partials/nav-bar.ejs')%>
                <div class="body-parents">
                    <div class= "kaartehan-container">
                       <h3 class = "kaartehan-title"> Your Cart! </h3>
                        </p>
                    </div>
                    <div class="cartbutton-container">
                        <div class="cart-container">
                            <% if (cart && cart.items.length > 0) { %>
                                <% cart.items.forEach(item => { %>
                                    <div class="product1">
                                        <img src="assets/banana.png" class="product-pic" alt="banana">
                                        <h4><%= item.item.item %></h4> 
                                        <p>Price: <span>100 PHP</span></p>
                                        <p>Quantity: <span><%= item.quantity %></span></p>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p>Your cart is empty</p>
                            <% } %>
                        </div>
                        
                        <button id="publish">Checkout</button>
                    </div>

                        
                </div>    
        </div>
</body>
</html>