<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/homepage/homepage.css"> 
    <!-- scripts -->
    <script src="js/homepage/select-category.js"></script>

</head>
    <body>
        <div class= "container">
            <%-include('partials/nav-bar.ejs')%>
                <div class="body-parents">
                    <div class= "kaartehan-container">
                       <h3 class = "kaartehan-title"> Select your Savories! </h3>
                        </p>
                    </div>
                    <div class="category-container" id="meat">
                        <div class="meat">
                            <img src="assets/meat-category.png" class= "meat-pic" alt="meat">
                            <h4> meat</h4> 
                            <p>savor the flavor with our succulent cuts - where every bite is a celebration of taste!</p>
                        </div>

                        <div class="dairy" id="dairy">
                            <img src="assets/dairy-category.png" class="dairy-pic" alt="dairy">
                            <h4 class = "dairy-text">dairy</h4> 
                            <p>indulge in creamy goodness straight from the farm - because every meal deserves a dollop of perfection!</p>
                        </div>

                        <div class ="fruit" id="fruit">
                            <img src="assets/fruit-category.png" alt="fruits">
                            <h4>fruits</h4> 
                            <p> dive into these orchard-fresh delights bursting with sweetness and vitality!</p>
                        </div>

                        <div class = "vegetable" id="vegetable">
                            <img src="assets/vegetable-category.png" alt="vegetables">
                            <h4>vegetables</h4> 
                            <p>vibrant veggies promising freshness and nutrition in every colorful bite.</p>
                        </div>

                    </div>
                </div>    
        </div>
</body>
</html>