<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge Hero</title>
    <link rel="stylesheet" href="/css/homepage/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Gurmukhi:wght@100..900&display=swap" rel="stylesheet">

    <!-- scripts -->
    <script src="scripts/home.js"></script>

</head>
    <body>
        <div class= "container">

            <nav class="nav-bar">
            <p>logohere.</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Meal Plans</a></li>
                <li></li>
            </ul>
            </nav>
                <div class="body-parents">
                    <div class= "kaartehan-container">
                       <h3 class = "kaartehan-title"> Select your Savories! </h3>
                        </p>
                    </div>
                    <div class="category-container">
                        <div class="meat">
                            <img src="assets/meat-category.png" class= "meat-pic" alt="meat">
                            <h4> meat</h4> 
                            <p>savor the flavor with our succulent cuts - where every bite is a celebration of taste!</p>
                        </div>

                        <div class="dairy">
                            <img src="assets/dairy-category.png" class="dairy-pic" alt="dairy">
                            <h4 class = "dairy-text">dairy</h4> 
                            <p>indulge in creamy goodness straight from the farm - because every meal deserves a dollop of perfection!</p>
                        </div>

                        <div class ="fruit">
                            <img src="assets/fruit-category.png" alt="fruits">
                            <h4>fruits</h4> 
                            <p> dive into these orchard-fresh delights bursting with sweetness and vitality!</p>
                        </div>

                        <div class = "vegetable">
                            <img src="assets/vegetable-category.png" alt="vegetables">
                            <h4>vegetables</h4> 
                            <p>vibrant veggies promising freshness and nutrition in every colorful bite.</p>
                        </div>

                    </div>
                </div>    
        </div>
</body>
</html>