
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* cursive font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

 /*logo font  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* logo-text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

body{
    background-image: url('../../assets/product-bg.svg');
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-size: 100% ; /* Cover the entire viewport */
    
}



.logo{
    color:white;
}



.products-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left:40px;
    position: relative;
    margin:50px;
  }


  
img{
    width: 600px;
    height:590px;
    align-self: center;
}

a{
    color:white;
}

h4{
    color: #2B4447;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: -5px;
}

p {
    color: white;
    font-size: 16px;
    padding: 10px;
}

.nutritional-facts {
    margin-top: 170px;
    margin-left: 40px;
    display: flex; /* Display children elements in a flex layout */
    flex-direction: column; /* Arrange children elements vertically */
    align-items: flex-start; /* Align children elements to the left */
}

.product-image{
    margin-left: -320px;
    margin-top:-60px;
}

.product-name{
    font-weight: bolder;
    font-size: 55px;
    margin-left: -520px;
    margin-right: 200px;
    margin-top: 80px;
    color: #2B4447;
    

}

.product-description{
    font-weight: bold;
    font-size: 15px;
    margin-left: -520px;
    margin-right: 200px;
    margin-top: 50px;
    color: darkslategray;

}

.product-quantity{
    font-weight: bold;
    margin-left: -350px;
    margin-right: 200px;
    margin-top: 60px;
    color: darkslategray;

}
.plus, .minus{
    width:40px;
    height:40px;
    margin-right: 5px;
    margin-top: -120px;
    margin-bottom: 10px;

}

.minus{
    margin-left:-120px;
}

.operations{
    margin-right: 90px;
}


button{
    margin-left: -250px;
    margin-right: 200px;
    margin-top: 30px;
    
}

button {
    border-radius: 20px; /* Rounded corners */
    background-color: #2B4447; /* Background color */
    color: white; /* Text color */
    padding: 15px 30px; /* Padding for a bigger size */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover {
    background-color: #1c2c2f; /* Darker background color on hover */
}

.product-image-egg{
    margin-left: -440px;
    margin-top: -60px;
}