
/* body text font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* cursive font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

 /*logo font  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* logo-text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

body{
    background-image: url('../../assets/fridge-bg.svg');
    background-repeat: no-repeat; 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-size: 100% ; /* Cover the entire viewport */
    
}

.body-container{
    display:flex;
}

.kaartehan-container{
    flex:2;
    margin: -100px;
    margin-top:180px;
    padding-left: 90px;
    margin-left: 17px;
}

  
img{
    width: 110px;
    height:100px;
    align-self: center;
    margin-left: -80px;
}


h4{
    color: #2B4447;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: -5px;
}

p{
    color: darkslategray;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

a{
    color:white;
}

span{
    font-weight: bolder;
}
.kaartehan-title{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color:white;
    font-size: 80px;
    font-style: italic;
    justify-self: center;

}

.item1,.item2,.item3,.item4{
    margin-top: 20px;
    border-color: #2B4447 10px;
    background-color: #F6F5F2;
    border-radius: 190px;
    width:600px;
    display: flex;
    justify-content: center;
}

.item1{
    background-color: #F6F5F2;
}

.item2{
    background-color: #F0EBE3;
}

.item3{
    background-color: #F3D0D7;
}

.item4{
    background-color: #FFEFEF;
}


p{
    margin-top: 35px;
    margin-left: -140px;
}

.fridge-container{
    margin-top:65px;
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    flex:3
    

}
