
/* body text font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* cursive font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

 /*logo font  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

/* logo-text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Linefont:wght@4..1000&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Gurmukhi:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Xanh+Mono:ital@0;1&display=swap');

body{
    background-image: url('../../assets/background2.png');
    background-repeat: no-repeat; 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-size: 100% ; /* Cover the entire viewport */
    
}

.body-parents{
    display:flex;
}

.kaartehan-container{
    flex:1;
    margin: -100px;
    margin-top:150px;
    padding-left: 90px;
    margin-left: 18px;
    margin-right: 30px;
}

.cartbutton-container{
    flex: 4;
    width:450px;

}
.cart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
   
    border-radius: 180px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.78);
    height: 680px; /* Set height to auto */
    max-height: 680px; /* Set max-height to limit height */
    margin-right: 50px;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom:40px;
    padding-bottom: 30px;
     /* Add vertical scroll if necessary */
}

.product1, .product2, .product3, .product4 {
    width: 90%; /* Set width to 100% to fill container */
    height: 100px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2B4447;
    padding: 10px; /* Add padding to create space */
    margin:40px;
    margin-right:20px;
}

  
img{
    width: 100px;
    height:90px;
    align-self: center;
}



h4{
    color: #2B4447;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: -5px;
}

p{
    color: darkslategray;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-top:55px;
}


.kaartehan-title{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color:white;
    font-size: 80px;
    font-style: italic;
    font-weight: bolder;
    justify-self: center;


}

ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
  }
  
  li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add some space between items */
  }
  
a{
    font-family: "Playfair Display", serif;
    color: white;
}

.nav-bar{
    padding-left: 500px;
}


.logo{
    font-family: "Linefont", system-ui;
    /* color: #CEA0A4; */
    color: white;
    font-size: 80px;
    margin-bottom: -30px;
    margin-top: -30px;
    

}

.logo-container{
    margin-left: -2100px;
}

.logo-text{
    font-family: "Lato", sans-serif;
    margin-top: -10px;
    font-size: 30px;
    color: #CEA0A4;
 
}

.nav-links{
    color: #2B4447;
    font-size: 23px;
    margin: 0px;
    margin-top: -90px;
    margin-left:670px;


}

.fridge, .cart{
    width: 33px;
    height:30px;
    margin-right: 40px;
    margin-left:20px;
    margin-bottom: -4px;
}


.link1, .link2, .link3{
    margin-right: 70px;
}


p{
    color: darkslategray;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

button{
    margin-left:1100px;
    border-radius: 20px; /* Rounded corners */
    background-color: white; /* Background color */
    color: #2B4447; /* Text color */
    padding: 15px 30px; /* Padding for a bigger size */
    font-size: 20px; /* Font size */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover {
    background-color: #1c2c2f; /* Darker background color on hover */
}